<header class="bg-primary py-1">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <div class="containerimg swing-animation" style="width: 150px; height: 110px; border: 1.5px solid #ffc107; border-radius: 5px; display: inline-block; overflow: hidden; padding-left: 20px; padding-right: 20px;padding-bottom:50px;">
                <a href="https://www.poste.tn/"><img src="assets/img/logo.png" alt="Logo de la Poste Tunisienne" style="width: 90px; height: auto;"></a>
            </div>
            <p class="lead fw-bold text-white mt-4 slide-in" style="font-family: 'Montserrat', sans-serif; font-size: 1.5rem;">
                Bienvenue dans la plateforme de formation de la Poste Tunisienne
            </p>
        </div>
    </div>
</header>
