<footer class="bg-primary py-1">
    <div class="container text-center">
        <a href="https://www.facebook.com/TunisianPost"><img src="assets/img/logofb.svg" alt="Facebook" style="max-width: 40px; margin-right: 10px;" class="animated-img" class="fblogo"></a>
        <a href="https://tn.linkedin.com/in/tunisianpost"><img src="assets/img/logolink.webp" alt="LinkedIn" style=" margin-right: 10px;" class="linkedinlogo animated-img"></a>
        <a href="https://mail.google.com"><img src="assets/img/logomail2.png" alt="Email" class="maillogo animated-img"></a>
    </div>
    <div>
        <p class="text-white fw-bold text-center" style="font-family: 'Arial', sans-serif;font-size: 0.875rem;">
            © 2000-2024 La Poste Tunisienne, Rue Hédi Nouira - 1030 Tunis, Tunisie
            Centre d'appels : 1828 || Tél : 71839000
        </p>
        
        
    </div>
</footer>
