<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container px-4 px-lg-5 ">
        <a href="home"><img src="assets/img/logop.png" class="logopostedim animated-img" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon "></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                <li class="nav-item"><a class="nav-link active animated-img" aria-current="page" href="home">Acceuil</a></li>
                <li class="nav-item"><a class="nav-link active animated-img" href="#!">A propos</a></li>
                <li class="nav-item"><a class="nav-link active animated-img" href="#!" routerLink="post">Post Candidat</a></li>
                <li class="nav-item"><a class="nav-link active animated-img" href="#!" routerLink="formateurs">Utilisateurs</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle animated-img" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Formations</a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item animated-img" href="#" routerLink="formation-admin">Toutes les formations</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item animated-img" href="#!">Formations tendance </a></li>
                        <li><a class="dropdown-item animated-img" href="#!">Nouvelles formations</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link active animated-img" aria-current="page" href="#!">Contact</a></li>
            </ul>
            <a class="nav-link animated-img" href="signin"  >Se connecter /S'inscrire</a>
        </div>
    </div>
</nav>

