<!-- Navigation-->
<app-navbar></app-navbar>
<!-- <app-formation></app-formation>
<app-post-component></app-post-component>
<app-formateur-component></app-formateur-component> -->
<router-outlet name="headrer"></router-outlet>
<router-outlet name="section"></router-outlet>
<router-outlet></router-outlet>
<!--
<app-headrer></app-headrer>
<app-section></app-section>

<app-formulaire></app-formulaire>-->
<!-- Footer-->
<app-footer></app-footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>