

<section class="py-5">
    <!-- <h3>Formations :</h3> -->
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div *ngFor="let form of formation">

            <div class="col mb-5">
                <div class="card h-100 animated-img">
                    <!-- Product image-->
                    <img class="card-img-top img-fluid " style="width: 400px; height: 125px;" src="{{form.imageUrl?'http://localhost:8088'+form.imageUrl:'assets/img/market.jpg'}}" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{form.titre}}</h5>
                            <!-- Product date heure-->
                            <h5 class="fw-bolder">{{form.date}} {{form.heure}}</h5>
                            <!-- Product date heure-->
                             <!-- <div *ngFor="let i of form.formateurs">
                            <h5 class="fw-bolder">form By: {{i.nom}} {{i.prenom}}</h5>
                            </div> -->
                            <!-- Product price-->
                            {{form.montent}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Participez à la formation</a></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

